<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627663599334-ue4oo3bm59dnkaekdkgs1tt0qp0bvkj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627663599334-ue4oo3bm59dnkaekdkgs1tt0qp0bvkj8</string>
	<key>API_KEY</key>
	<string>AIzaSyAQdbovizdjX0eegBP9xU1gZ_SGh6RYQ28</string>
	<key>GCM_SENDER_ID</key>
	<string>627663599334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.fayyaz.Ola</string>
	<key>PROJECT_ID</key>
	<string>project-ola-c65be</string>
	<key>STORAGE_BUCKET</key>
	<string>project-ola-c65be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627663599334:ios:4c5466ae7bbe311655ed27</string>
</dict>
</plist>